<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Tick-Tac-Toe</title>
%Style%
</head>
<body>
    <div class="center">
        <h1 style="display: block;">Advanced Tick-Tac-Toe</h1>
    </div>
%BeginForm%
        <div class="center">
            <label for="nameInput">Name:</label>
            <input type="text" name="nameInput" id="nameInput" required>
        </div>
        <div class="center centeredMain">
            <div>
                <div class="button" id="SinglePlayerButton" style="padding: 10px;" onclick="showSingleplayer()">Singleplayer</div>
                <div class="button" id="MultiPlayerButton" style="padding: 10px;" onclick="showMultiplayer()">Multiplayer</div>
        
                <div id="singleplayerThingy" class="singleplayer hidden">
                    <div class="button" onclick="goBack()">Zurück</div>

                    <div id="newGame" class="newGame inline">
                        <h2>New Game</h2>
                        <button class="center" name="NewGame" value="Local">Let's Go!</button>
                    </div>
                    <div class="loadGame inline">
                        <h2>Load Game</h2>
                        <button onclick="loadSavedGames('LocalSavedGames')" type="button" class="center" name="LoadLocalGame">Let's Go!</button>
                    </div>
                    <div id="LocalSavedGames" class="savedGames">
                        
                    </div>
                </div>
        
                <div id="multiplayerThingy" class="multiplayer hidden">
                    <div class="button" onclick="goBack()">Zurück</div>
                    
                    <div class="newOnline inline">
                        <h2>New Online Game</h2>
                        <button name="NewGame" value="Online">Let's Go!</button>
                    </div>
                    <div class="joinOnline inline">
                        <h2>Join Online Game</h2>
                        <input type="text" name="Code">
                        <button name="JoinOnlineGame">Let's Go!</button>
                    </div>
                    <div class="loadGame inline">
                        <h2>Load Joined Online Game</h2>
                        <button type="button" onclick="loadSavedGames('OnlineSavedGames')" name="LoadOnlineGame">Let's Go!</button>
                    </div>
                    <div id="OnlineSavedGames" class="savedGames">

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="redirectThingy"></div>
%SetUrl%
    <script>
        var url = "../Advanced-Tick-Tac-Toe/index.sh";
    
        const loadSavedGames = (type) => {
            var name = document.getElementById("nameInput").value;
            if (name == null || name == "") { return; }

            document.getElementById(type).innerHTML = '<div class="loading .center">Loading</br><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>';

            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById(type).innerHTML = ajax.responseText;
                }
            };
            ajax.open("POST", url, true);
            ajax.send(`SavedGames=${name}&Type=${type}`);
        }

        const startGame = (name, file) => {
            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("redirectThingy").innerHTML = ajax.responseText;
                    document.forms["instasubmit"].submit();
                }
            };
            ajax.open("POST", url, true);
            ajax.send(`LoadLocalSavedGames=${name}&numberOfFiles=${file}`);
        }

        const showSingleplayer = () => {
            document.getElementById('singleplayerThingy').className = 'singleplayer';
            document.getElementById('SinglePlayerButton').className = 'hidden';
            document.getElementById('MultiPlayerButton').className = 'hidden';
        }
        
        const showMultiplayer = () => {
            document.getElementById('multiplayerThingy').className = 'multiplayer';
            document.getElementById('SinglePlayerButton').className = 'hidden';
            document.getElementById('MultiPlayerButton').className = 'hidden';
        }
        
        const goBack = () => {
            document.getElementById('multiplayerThingy').className = 'hidden';
            document.getElementById('singleplayerThingy').className = 'hidden';
            document.getElementById('SinglePlayerButton').className = '';
            document.getElementById('MultiPlayerButton').className = '';
        }
    </script>
</body>
</html>