<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
%Title%
%Style%
</head>
<body>
    <div class="starfield center">
%NameOponent%
    </div>
    <div class="gamefield center">
%GameField%
    </div>
%GameData%
    <script>
        const clickHandler = (bigField, smallField, id) => {
            var clickedField = document.getElementById(id);

            if(lastMove.length != 0){
                if(clickedField.innerHTML != "" || (! isEqualsArray(bigField, lastMove))){
                    return;
                }

            }

            switch(gameType) {
                case "Local":
                    clickedField.innerHTML = currentPlayer;
                    currentPlayer = (currentPlayer == playerFigures[0]) ? playerFigures[1] : playerFigures[0];
                    break;
                case "Bot":
                    break;
                case "Online":
                    break;
            }

            if(lastMove.length != 0){
                document.getElementById(lastMove[0] + "|" + lastMove[1]).style = "background-color: none;"
            }
            lastMove = smallField;
            document.getElementById(smallField[0] + "|" + smallField[1]).style = "background-color: " + spotLight + ";"
            // Send lastMove and playerchange to Server
            
            sendGameMove(bigField, smallField, id);

        }

        const sendGameMove = (bigField, smallField, id) => {
            var ajax = new XMLHttpRequest();
            const data = JSON.stringify({ "smallField": smallField, "bigField": bigField, "id": id, "numberOfFiles": numberOfFiles, "NameInput": NameInput });
            ajax.open("POST", "../Advanced-Tick-Tac-Toe/game.sh", true);
            ajax.send(data);
        }

        const isEqualsArray = (arrA, arrB) => {
            if (arrA.length != arrB.length) {
                return false; 
            }
            let isSameAll = arrA.every((valueA, indexA) => valueA == arrB[indexA]);
            return isSameAll;
        }
    </script>
</body>
</html>