<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title"> </title>
%Style%
</head>
<body>
    <div class="starfield center">
        <h1 id="NameRival"></h1>
    </div>
    <a href="index.sh">Zurück zum Hauptmenü</a>
    <div id="nowPlaying"></div>
    <div id="gamefield" class="gamefield center">
        <div class="loading .center">Loading</br><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    </div>
    <script>
        "%GameData%";
        var saveData = {};
        var url = "../Advanced-Tick-Tac-Toe/game.sh";

        // Schaut nach ob ein gültiger spielzug getätigt wurde
        const clickHandler = (bigField, smallField, id) => {
            var clickedField = document.getElementById(id);

            // überprüft ob das Spiel bereits gewonnen wurde, falls ja wird eine Meldung ausgegeben
            if(saveData['Winner'] !== ""){
                alert(`Spieler ${saveData["Winner"]} [${saveData["CurrentPlayer"]}] hat Gewonnen!`);
                return;
            }
            
            // falls der letzte zug nicht gesetzt ist kann ein beliebiger zug gemacht werden
            if(lastMove.length != 0){
                // falls das feld bereits belegt ist oder falls das falsche große spielfeld angeklickt wurde
                // wird das anclicken ignoriert
                if(clickedField.innerHTML !== "" || (! isEqualsArray(bigField, lastMove))){
                    return;
                }
            }
            
            // schaut nach ob das große feld, in welchem gerade ein kleines feld angeklickt
            // wurde bereits gewonnen wurde und blockiert dieses
            if (saveData['GameField'][bigField[0]][bigField[1]][3]["Winner"] !== ""){ 
                return;
            }
            
            // Speichert den aktuellen zug in das saveData dictionary
            saveData['GameField'][bigField[0]][bigField[1]][smallField[0]][smallField[1]] = currentPlayer;
            clickedField.innerHTML = currentPlayer; // zeigt den aktuellen Spieler auf dem spielfeld an
            currentPlayer = (currentPlayer == playerFigures[0]) ? playerFigures[1] : playerFigures[0];
            saveData["CurrentPlayer"] = currentPlayer;
            
            // überprüft ob das große feld in welchem gerade gespielt wird gewonnen wurde
            // falls ja wird dies in dem saveData dictionary
            let result = checkThreeInARow(saveData['GameField'][bigField[0]][bigField[1]]);
            if (result !== null){
                saveData['GameField'][bigField[0]][bigField[1]][3]["Winner"] = result;
                
                // formatiert die gewonnenen großen felder so, dass sie mit der selben methode überprüfbar sind, wie die kleinen felder
                // und checkt ob das gesammte spiel gewonnen ist
                var grossesFeldInArrayForm = [];
                for (let col = 0; col < 3; col++) {
                    grossesFeldInArrayForm[col] = [];
                    for (let row = 0; row < 3; row++) {
                        grossesFeldInArrayForm[col][row] = saveData['GameField'][col][row][3]["Winner"];
                    }
                }

                result = checkThreeInARow(grossesFeldInArrayForm);
                if (result !== null){
                    // falls das spiel gewonnen ist wird der gewinner ermittelt und anschließend als gewinner in SaveData eingetragen un persistiert
                    indexOfPlayerFigur = saveData["PlayerFigurs"].indexOf(result);
                    saveData["CurrentPlayer"] = result;
                    saveData["Winner"] = saveData["Players"][indexOfPlayerFigur];
                    saveData["LastMove"] = [];
                    alert(`Spieler ${saveData["Winner"]} [${result}] hat Gewonnen!`);
                }
            }

            // checkt ob das nächste feld bereits gewonnen wurde und setzt lastMove auf [],
            // somit hast der spieler freie auswahl in welchem großen feld er spielen möchte
            if (saveData['GameField'][smallField[0]][smallField[1]][3]["Winner"] !== ""){
                saveData["LastMove"] = [];

                if(lastMove.length != 0){
                    document.getElementById(lastMove[0] + "|" + lastMove[1]).style = "background-color: none;";
                }

                lastMove = saveData["LastMove"];
                return;
            }

            document.getElementById("nowPlaying").innerText = `Gerade ist "${currentPlayer}" am zug`;
            saveData["LastMove"] = smallField;

            // Sendet eine Speicherrequest an den Server
            sendGameMove(bigField, smallField, id);
            

            // falls der letzte zug leer ist wird das highlighting entfernt
            if(lastMove.length != 0){
                document.getElementById(lastMove[0] + "|" + lastMove[1]).style = "background-color: none;";
            }

            // lastmove wird gesetzt
            lastMove = saveData["LastMove"];

            // falls der letzte zug leer ist wird das highlighting entfernt
            if(lastMove.length != 0){
                document.getElementById(smallField[0] + "|" + smallField[1]).style = `background-color: ${spotLight};`;
            }
        }

        // Setzt den Inhalt der Website nach dem er geladen wurde
        const setPageContent = () => {
            if(lastMove.length != 0){
                document.getElementById(lastMove[0] + "|" + lastMove[1]).style = `background-color: ${spotLight};`;
            }

            document.getElementById("title").innerText = `${gameType} Game ${players[0]} - ${players[1]}`;
            document.getElementById("NameRival").innerText = `${players[0]} [${playerFigures[0]}] VS ${players[1]} [${playerFigures[1]}]`;
            document.getElementById("nowPlaying").innerText = `Gerade ist "${currentPlayer}" am zug`;
        }

        // Kümmert sich um den online Code
        const startOnlineCode = () => {
            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText === "retry") {
                        startOnlineCode();
                    }
                    
                    saveData = JSON.parse(this.responseText);
                }
            };
            ajax.open("POST", url, true);
            ajax.send(JSON.stringify({"Type": "WaitForJoin", "NameInput": NameInput, "GameType": GameType, "numberOfFiles": numberOfFiles}));
        }

        // Läd die Gamesave Datei und setzt das GameFild und den PageContent
        // macht auch online handeling irgendwie
        const GetGameDataAndRedrawGame = () => {
            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    saveData = JSON.parse(this.responseText);

                    if (GameType === "online"){

                        if (saveData["Players"][1] === "") {
                            document.getElementById("title").innerText = "Warte Auf weiteren Spieler";
                            document.getElementById("NameRival").innerText = `Ware Auf weiteren Spieler, GameCode: ${saveData["OnlineCode"]}`;
                        }

                        startOnlineCode();
                        return;
                    }
                    
                    generateGameField();

                    // Läd die saveDaten in lokale varriablen
                    gameType = saveData["GameType"];
                    players = saveData["Players"];
                    lastMove = saveData["LastMove"];
                    currentPlayer = saveData["CurrentPlayer"];
                    playerFigures = saveData["PlayerFigurs"];
                    spotLight = saveData["BackGroundSpotlightColor"];

                    setPageContent();
                }
            };
            ajax.open("POST", url, true);
            ajax.send(JSON.stringify({"Type": "GameData", "NameInput": NameInput, "GameType": GameType, "numberOfFiles": numberOfFiles}));
        }

        const generateGameField = () => {
            var idCounter = 0;
            var GameContent = "";

            // Generiert das Spielfeld
            GameContent += "<table class='game'>";
            for (let i = 0; i < 3; i++) {
                GameContent += "<tr>";
                for (let ii = 0; ii < 3; ii++) {        
                    GameContent += `<th><table id="${i}|${ii}" class="smallField">`;
                    for (let iii = 0; iii < 3; iii++) {
                        GameContent += "<tr>"
                        for (let iiii = 0; iiii < 3; iiii++) {
                            GameContent += `<th id="${idCounter}" onclick="clickHandler([${i},${ii}],[${iii},${iiii}],${idCounter})">${saveData['GameField'][i][ii][iii][iiii]}</th>`
                            idCounter += 1;
                        }
                        GameContent += "</tr>"
                    }
                    GameContent += "</table></th>";
                }
                GameContent += "</tr>";
            }
            GameContent += "</table>";

            document.getElementById("gamefield").innerHTML = GameContent;
        }

        // Sorgt dafür das der Spielzug gespeichert wird
        const sendGameMove = (bigField, smallField, id) => {
            var ajax = new XMLHttpRequest();
            const data = JSON.stringify({ "Type": "Save", "numberOfFiles": numberOfFiles, "GameType": GameType, "NameInput": NameInput, "data": saveData});
            ajax.open("POST", url, true);
            ajax.send(data);
        }

        // schaut ob zwei arrays gleich sind
        const isEqualsArray = (arrA, arrB) => {
            if (arrA.length != arrB.length) {
                return false; 
            }
            let isSameAll = arrA.every((valueA, indexA) => valueA == arrB[indexA]);
            
            return isSameAll;
        }

        // schaut nach ob drei der selben characters in einer reihe sind
        function checkThreeInARow(matrix) {
            // Zeilen Prüfen
            for (let row = 0; row < 3; row++) {
                if (matrix[row][0] === matrix[row][1] && matrix[row][1] === matrix[row][2] && matrix[row][0] !== "") {
                    return matrix[row][0];
                }
            }

            // Spalten Prüfen
            for (let col = 0; col < 3; col++) {
                if (matrix[0][col] === matrix[1][col] && matrix[1][col] === matrix[2][col] && matrix[0][col] !== "") {
                    return matrix[0][col];
                }
            }

            // Diagonalen prüfen
            if (matrix[0][0] === matrix[1][1] && matrix[1][1] === matrix[2][2] && matrix[0][0] !== "") {
                return matrix[0][0];
            }
            
            if (matrix[0][2] === matrix[1][1] && matrix[1][1] === matrix[2][0] && matrix[0][2] !== "") {
                return matrix[0][2];
            }

            return null; // Kiene reihe gefunden
        }

        window.onload = GetGameDataAndRedrawGame;
    </script>
</body>
</html>