table {
    border-collapse: collapse;
    border-style: hidden;
    font-size: 35pt;
    margin:10px;
}

table th table th {
    width: 60px;
    height: 60px;
}

table th {
    border: 2px solid black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}