
body table {
    font-size: 35pt;
}

.smallfield th {
    height: 60px;
    width: 60px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin:10px;
}

.smallfield.active {
    border: solid 2px red;
}

.borderright {
    border-right: solid 2px black;
}

.borderbottom {
    border-bottom: solid 2px black;
}

.bordertop {
    border-top: solid 2px black;
}